   {{!-- {{#if user.admin}} --}}
<table id="buttons-group">
    <thead>
    <h1>Quiz Categories</h1>
    </thead>
    {{meow}}
 
    {{#each quiz}}
        <tr>
            <td>{{this.title}}</td>
            {{!-- <td><a href="" class="btn">Play</a></td> --}}
            <td><a href="/questions/{{this.title}}" class="btn" data-id="{{this.id}}">View</a></td>    
            <td><a href="/questions/edit/{{this.id}}" class="btn" data-id="{{this.id}}">Edit</a></td>
     {{/each}}        
        </tr>
   
</table>
<ul class="btn-container">
    <li><a href="/manage/delete/" class="btn" data-id="{{this.id}}">Delete</a></li>
    <li><a href="/manage/new" class="btn">Create new quiz</a></li>
    {{!-- {{else}}
   <table id="buttons-group">
    <thead>
    <h1>Quiz Categories</h1>
    </thead>
    {{meow}}
 
    {{#each quiz}}
        <tr>
            <td>{{this.title}}</td>
            <td><a href="/quiz/{{this.title}}" class="btn" data-id="{{this.id}}">View</a></td>    
     {{/each}}        
        </tr>
   
</table>
{{/if}} --}}









{{!-- <ul>
<li class="quiz-select">
    <div>Maths</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>History</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>Computer Science</div>  
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
</ul> --}}
  