<table id="buttons-group">
    <h1>Edit Answers</h1>
    <th>Index</th>
    <th>Answer</th>
    {{#each answers}}
        <tr>
            <td class="key-margin">{{lookup @root.answerIndex @key}}:</td>
            <br/>
            <td>{{this.answer}}</td>
        </tr>
    {{/each}}
</table>
</ul>
<section class="update-container">
<ul>
<h1>Update Answer</h1>
<form action="/answers/updated" method="POST">
    <input type="text" placeholder="Answer to change" name="answer">
    <input type="text" name="answer" placeholder="New Answer">
    <button class="btn"  type="submit">Submit</button>
</form> 
</ul>
<ul>
<h1>New Answer</h1>
<form action="/answers-new" method="POST">
    <input type="text" placeholder="Answer" name="answer">
    False
    <input type="radio" placeholder="False" value="{{false}}"name="correct">
    True
    <input type="radio" placeholder="Correct" value="{{true}}"name="correct"> 
    <input type="number" name="questionid" value="{{{answers.1.questionid}}}">
    <button class="btn"  type="submit">Submit</button>
</form>
</ul> 
<ul>
<h1>Delete Answer</h1>
<form action="/answers/delete" method="POST">
    <input type="text" placeholder="Answer "name="answer">
    <button class="btn" type="submit">Delete</button>
</form>

</ul>
</section>
