<section class="view-questions-container">
  <ul class="view-question">
    <h3>Category: </h3>
    {{#each quiz}}
      <li class="qs">
        {{this.title}}
      </li>
    {{/each}}
  </ul>

  <ul class="view-question">
    <h3>Questions</h3>
    {{#each questions}}
      <li class="qs">
        {{this.questions}}
      </li>
    {{/each}}
  </ul>
  <ul class="view-question">
    <h3>Index</h3>
     {{#each answerIndex}}
      <li class="qs">
        {{lookup @root.answerIndex @key}}
      </li>
      {{/each}}
  </ul>
  {{!-- {{#if user.admin}} --}}
  <ul class="view-question" id="admin-answers">
    <h3>Answers</h3>
    {{#each answer}}
      <li class="qs">
        {{this.answer}}
      </li>
    {{/each}}
  </ul>
     {{!-- {{else}}
    <li></li>
    {{/if}} --}}
</section>