<table id="buttons-group">
    <thead>
    <h1>Edit Questions</h1>
    <th>Question</th>
    <th>Quiz Id</th>
    </thead>
    {{!-- {{quizzes.title}} --}}
    {{#each questions}}
        <tr>
            <td id="text-row">{{this.questions}}</td>
            <td id="text-row">{{this.quizid}}</td>
            <td><a href="/answers/answer/{{this.id}}" class="btn" data-id="{{this.id}}">Edit Answers</a></td>
        </tr>
    {{/each}}
</table>
</ul>
<section class="update-container">
<ul>
<h1>Update Question</h1>
<form action="/quiz" method="POST" target="_blank">
    <input type="text" placeholder="Question" name="question">
    <button class="btn"  type="submit">Update</button>
</form>
</ul>
<ul>
<h1>New Question</h1>
<form action="/quiz" method="POST" target="_blank">
    <input type="text" placeholder="Question" name="question">
    <input type="text" placeholder="Question" name="quizid">
    <button class="btn"  type="submit">Create</button>
</form>
</ul>
<ul>
<h1>Delete Question</h1>
<form action="/questions" method="POST">
    <input type="text" placeholder="Question" name="question">
    <button class="btn" type="submit">Delete</button>
</form>
</ul>
</section>
