<table id="buttons-group">
    <thead>
    <h1>Edit Questions</h1>
    <th>Id</th>
    <th>Question</th>
    </thead>
    {{#each questions}}
        <tr>
            <td>{{this.id}}</td>
            <td id="text-row">{{this.questions}}</td>
            <td><a href="/answers/answer/{{this.id}}" class="btn" data-id="{{this.id}}">Edit Answers</a></td>
        </tr>
    {{/each}}
</table>
</ul>
<section class="update-container">
<ul>
<h1>Update Question</h1>
<form action="/questions-updated" method="POST">
    <input type="text" placeholder="Old question" name="questions">
    <input type="text" placeholder="New question" name="questions">
    <button class="btn"  type="submit">Update</button>
</form>
</ul>
<ul>
<h1>New Question</h1>
<form action="/questions-new" method="POST" target="_blank">
    <input type="text" placeholder="Question" name="questions">
    <input type="text" placeholder={{questions.1.quizid}} name="quizid">
    <button class="btn"  type="submit">Create</button>
</form>
</ul>
<ul>
<h1>Delete Question</h1>
<form action="/questions/delete" method="POST">
    <input type="text" placeholder="Question ID" name="id">
    <button class="btn" type="submit">Delete</button>
</form>
</ul>
</section>
